services:
  db:
    image: postgres:15
    container_name: blog_db
    restart: always
    environment:
      POSTGRES_USER: postgres
      POSTGRES_PASSWORD: Rahul2003
      POSTGRES_DB: blog_db
    ports:
      - "5432:5432"
    volumes:
      - postgres_data:/var/lib/postgresql/data

  backend:
    container_name: blog_backend
    build:
      context: .
      dockerfile: Dockerfile
    command: ["./wait-for-db.sh", "uvicorn", "app.main:app", "--host", "0.0.0.0", "--port", "8000"]
    depends_on:
      - db
    env_file:
      - .env
    environment:
      DB_HOST: db
      PGPASSWORD: ${DB_PASSWORD}
    ports:
      - "8000:8000"

volumes:
  postgres_data:
